@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
  font-family: "NanumSquare", sans-serif;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  .profile {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-self: center;
    background-color: rgba(255, 242, 233, 230);
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;

    div {
      margin-left: 5px;
      align-self: center;
    }

    .profile__photo {
      height: 50px;
      border-radius: 0.3rem;
      overflow: hidden;
    }
    .profile__room {
      flex-grow: 2;
      font-size: 0.8rem;
      div:nth-child(1) {
        font-weight: bold;
      }
    }
  }
  .memo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    div {
      border: 1px solid rgba(251, 160, 38, 136);
    }
    .memo__title {
      background-color: rgba(255, 184, 140, 186);
      color: white;
      width: 28%;
      height: 1.5rem;
      // vertical-align: middle;  텍스트 아닌 경우에 가능
      line-height: 1.5rem;
      text-align: center;

      border-radius: 5px 5px 0 0 / 5px 5px 0 0;
      border-bottom: none;
    }
    .memo__content {
      font-size: 0.9rem;
      padding: 1rem;

      flex-basis: 6rem;
      background-color: rgba(255, 242, 233, 230);
      border-radius: 0 10px 0 10px / 0 10px 0 10px;
    }

    &:nth-child(odd) {
      .memo__title {
        align-self: flex-end;
      }
      .memo__content {
        border-radius: 10px 0 10px 0 / 10px 0 10px 0;
      }
    }
  }
}
